<!-- Header -->
<header>

	<!-- Nav -->
	<nav id="nav" class="navbar">
		<div class="container">

			<div class="navbar-header">
				<!-- Logo -->
				<div class="navbar-brand">
					<a href="/">
						<img class="logo" src="/images/logo-alt.png" alt="logo">
					</a>
				</div>
				<!-- /Logo -->

				<!-- Collapse nav button -->
				<div class="nav-collapse">
					<span></span>
				</div>
				<!-- /Collapse nav button -->
			</div>

			<!--  Main navigation  -->
			<ul class="main-nav nav navbar-nav navbar-right">
				<li><a href="/#home">Home</a></li>
				<li><a href="/#about">About</a></li>
				<li><a href="/#portfolio">Categories</a></li>
				<li><a href="/#service">Services</a></li>
				<li><a href="/#team">Team</a></li>
				<li><a href="/blog">News</a>
					<!-- <ul class="dropdown">
						<li><a href="#">blog post</a></li>
					</ul> -->
				</li>
				<li><a href="/#contact">Contact</a></li>
				<li><a href="/assessment">Assessment</a></li>
				<li><a href="/zh-CN">中文</a></li>
			</ul>
			<!-- /Main navigation -->

		</div>
	</nav>
	<!-- /Nav -->

	<!-- header wrapper -->
	<div class="header-wrapper sm-padding bg-grey">
		<div class="container">
			<h2>Work with Can-Nova</h2>
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Home</a></li>
				<li class="breadcrumb-item"><a href="/team">Work with Can-Nova</a></li>
			</ul>
		</div>
	</div>
	<!-- /header wrapper -->

</header>
<!-- /Header -->


<div class="container sm-padding">
	<div class="team-block">
		<div class="">
			<h4>Cooperative Partner</h4>
		</div>
		<div class="">
			<p>If you are immigration lawyer, Regulated Canadian Immigration Consultant (RCIC), notary, accountant, translator, travel agency, representative of education institution or any other professionals who are in related areas, we welcome you to contact us. We look forward to become a cooperative partner with you to provide comprehensive service experience to our clients. Please email us your business information and we will get back to you within 24 hours.</p>
		</div>
	</div>

	<div class="team-block">
		<div class="">
			<h4>Marketing Agent</h4>
		</div>
		<div class="">
			<p>Can-Nova is always looking for marketing agents in different cities of both Canada and China. If you have certain customer resources and you are enthusiasm in marketing, we encourage you to contact and discuss with us how you can become a marketing agent of Can-Nova.</p>
		</div>
	</div>

	<div class="team-block">
		<div class="">
			<h4>Internship Opportunity for Students</h4>
		</div>
		<div class="">
			<p>Can-Nova provides internship opportunity to college and university students. We require that you need to be allowed to work while study. If you are planning to become an immigration lawyer or consultant, or if you are familiar with the immigration programs and procedures, or if you are just looking for a challenging internship, Can-Nova will be your good choice. Please email us your CV and we will contact you within 24 hours.</p>
		</div>
	</div>
</div>

<!-- Contact -->
<div id="contact" class="section sm-padding">

	<!-- Container -->
	<div class="container">

		<!-- Row -->
		<div class="row">

			<!-- Section-header -->
			<div class="section-header text-center">
				<h2 class="title">Contact Us</h2>
			</div>
			<!-- /Section-header -->

			<!-- contact -->
			<div class="col-sm-6">
				<div class="contact">
					<i class="fa fa-phone"></i>
					<h3>Phone</h3>
					<p>Vancouver: +1-778-834-0716<br />
					Toronto: +1-289-795-2817</p>
				</div>
			</div>
			<!-- /contact -->

			<!-- contact -->
			<div class="col-sm-6">
				<div class="contact">
					<i class="fa fa-envelope"></i>
					<h3>Email</h3>
					<p>success@can-nova.com</p>
				</div>
			</div>
			<!-- /contact -->

			<!-- contact -->
			<!-- <div class="col-sm-4">
				<div class="contact">
					<i class="fa fa-map-marker"></i>
					<h3>Address</h3>
					<p>#142, 700 Third Line, Oakville, Ontario, L6L 4B1</p>
				</div>
			</div> -->
			<!-- /contact -->

			<!-- contact form -->
			<div class="col-md-8 col-md-offset-2" style="padding: 0;">
				{{#if enquirySubmitted}}
				<div class="portfolio-modal modal fade in" id="contact-form-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: block;">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="close-modal contact-form-close" data-dismiss="modal">
								<div class="lr">
									<div class="rl"></div>
								</div>
							</div>
							<div class="container">
								<div class="row">
									<div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
										<div class="modal-body">
											<!-- Project Details Go Here -->
											<h2 class="text-uppercase text-center">Thank you! We will reply in 24 hours!</h2>
											<h2 class="text-uppercase text-center">谢谢！我们会在24小时内回复您！</h2>
											<div class="text-center">
												<button class="btn main-btn contact-form-close" data-dismiss="modal" type="button">
													<i class="fa fa-times"></i>
													Close</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/if}}
				<form class="contact-form" method="post">
					<input type="hidden" name="action" value="contact">
					<div class="form-group first-line {{#if validationErrors.name}}has-error{{/if}}">
						<input type="text" name="name.full"  class="input" placeholder="Name" value="{{formData.[name.full]}}">
					</div>
					<div class="form-group first-line first-line-right {{#if validationErrors.email}}has-error{{/if}}">
						<input type="email" name="email" class="input" placeholder="Email" value="{{formData.email}}">
					</div>
					<div class="form-group">
						<input type="text" name="subject" placeholder="Subject" class="input" value="{{formData.subject}}">
					</div>
					<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
						<textarea name="message" placeholder="Message" class="input">{{formData.message}}</textarea>
					</div>
					<div class="form-actions">
						<button type="submit" class="main-btn">Send</button>
					</div>
				</form>
				
			</div>
			<!-- /contact form -->

		</div>
		<!-- /Row -->

	</div>
	<!-- /Container -->

</div>
<!-- /Contact -->
