/*------------------------------------*\
	About
\*------------------------------------*/

.about {
    position: relative;
    text-align: center;
    padding: 40px 20px;
    border: 1px solid $gray-300;
    margin: 15px 0px;
    height: 300px;
}

.about i {
    font-size: 36px;
    color: $primary;
    margin-bottom: 20px;
}

.about:after {
    content: "";
    background-color: #1C1D21;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    z-index: -1;
    -webkit-transition: 0.2s width;
    transition: 0.2s width;
}

.about:hover:after {
    width: 100%;
}

.about h3 {
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

.about:hover h3 {
    color: #fff;
}

.about a {
  position: absolute;
  bottom: 32px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media only screen and (min-width: 992px) {
  .about a {
    bottom: 25px;
  }
}
