/*------------------------------------*\
	Services
\*------------------------------------*/

.service {
    font-size: 12px;
    position: relative;
    padding: 40px 20px 40px 70px;
    margin: 15px 0px;
    border: 1px solid $gray-300;
    height: auto;
    ul {
      list-style-type: disc;
    }
    @media (min-width: 768px) {
      height: 300px;
    }
    @media (min-width: 1200px) {
      height: 260px;
    }
}

/* @media only screen and (min-width: 992px) {
  .service {
    height: 300px;
  }
}

@media only screen and (min-width: 1200px) {
  .service {
    height: 230px;
  }
} */

.service i {
    position: absolute;
    left: 20px;
    text-align: center;
    font-size: 32px;
    color: $primary;
    border-radius: 50%;
}

.service:after {
    content: "";
    background-color: #1C1D21;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    z-index: -1;
    -webkit-transition: 0.2s width;
    transition: 0.2s width;
}

.service:hover:after {
    width: 100%;
}

.service h3 {
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

.service:hover h3 {
    color: #fff;
}

.service-CN {
  font-size: 15px;
}
