.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mx-auto {
  margin-left: auto!important;
  margin-right: auto!important;
}
