/*------------------------------------*\
	Why choose us
\*------------------------------------*/

.feature {
    margin: 15px 0px;
}
.feature i {
    float: left;
    padding: 5px;
    border-radius: 50%;
    color: $primary;
    border: 1px solid $primary;
    margin-right: 5px;
}
